// BLOB

.container {
    position: relative;
    z-index: 0;

    &::before {

        display: block;
        content: "";
        position: absolute;
        width: 30%;
        border-radius: 50%;
        opacity: .5;
        filter: blur(12rem);
        aspect-ratio: 1/1;
        background-color: var(--accent-500);
        left: 50%;
        top: 50%;
        z-index: -1;

        will-change: scale;

        animation: scale-blob infinite ease-in-out alternate 4s;
    }
}

@keyframes scale-blob {
    to {

        scale: 125%;
    }
}

// SCROLL BAR